<div class="col-lg-12 grid-margin stretch-card" *ngFor="let league of sport.leagues">
    <div class="card" *ngIf="league.matches.length > 0">
      <div class="card-body">
        <h4 class="card-title text-center">{{league.name}}</h4>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let match of league.matches">
                <td style="padding-left: 0px;">
                  <table class="table">
                      <thead>
                        <tr style="color: #ffcb63;">
                            <td>{{match.date | dateAr }}</td>
                            <td>Ganar</td>
                            <td>Empate</td>
                            <td>R. Line</td>
                            <td>Alta/Baja</td>
                            <td>Ganar 1er Tiempo</td>
                            <td>Empate 1er Tiempo</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: black">
                          <td>{{match.teamA.team.name}}</td>
                          <td>{{match.teamA.win | odd}}</td>
                          <td>{{match.teamA.tieValue | odd}}</td>
                          <td>{{match.teamA.rlHandicap | odd}} {{match.teamA.runLine | odd}}</td>
                          <td>{{match.teamA.ouHandicap}} {{match.teamA.ouLetter}}{{match.teamA.overUnder | odd}}</td>
                          <td>{{match.teamA.win5 | odd}}</td>
                          <td>{{match.teamA.tieValue5 | odd}}</td>                          
                        </tr>
                        <tr style="background-color: black">
                          <td>{{match.teamB.team.name}}</td>
                          <td>{{match.teamB.win | odd}}</td>
                          <td>{{match.teamB.tieValue | odd}}</td>
                          <td>{{match.teamB.rlHandicap | odd}} {{match.teamB.runLine | odd}}</td>
                          <td>{{match.teamB.ouHandicap}} {{match.teamB.ouLetter}}{{match.teamB.overUnder | odd}}</td>
                          <td>{{match.teamB.win5 | odd}}</td>
                          <td>{{match.teamB.tieValue5 | odd}}</td>
                        </tr>
                      </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
