<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-4 py-2 border-top border-bottom">
                            <ngb-tabset>
                                <ngb-tab title="Parametros">
                                    <ng-template ngbTabContent class="tab-pane fade" id="home-1"
                                        aria-labelledby="home-tab">
                                        <div class="form-group">
                                            <label>Mínimo de Jugadas por Parlay</label>
                                            <input type="number" class="form-control form-control-sm"
                                                placeholder="Mínimo de Jugadas" aria-label="Nombre"
                                                [(ngModel)]="config.minCount" name="minCount">
                                            <p class="card-description">
                                                Si es 0 o menor que 0 no se aplica.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Maximo Jugadas por Parlay</label>
                                            <input type="number" class="form-control form-control-sm"
                                                placeholder="Maximo de Jugadas" aria-label="Nombre"
                                                [(ngModel)]="config.maxCount" name="maxCount">
                                            <p class="card-description">
                                                Si es 0 o menor que 0 no se aplica.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Coeficiente máximo a pagar</label>
                                            <input type="number" class="form-control form-control-sm"
                                                placeholder="Coeficiente" [(ngModel)]="config.maxAmountCoefficient"
                                                name="maxAmount">
                                            <p class="card-description">
                                                Si es 0 o menor que 0 no se aplica.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Maximo de RL y A/B Permitidos</label>
                                            <input type="number" class="form-control form-control-sm"
                                                placeholder="Rl y A/B" [(ngModel)]="config.maxOuAndRl"
                                                name="maxAmount">
                                            <p class="card-description">
                                                Si es 0 o menor que 0 no se aplica.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label>Maximo de Jugadas a 'Ganar'</label>
                                            <input type="number" class="form-control form-control-sm"
                                                placeholder="Max Ganar" [(ngModel)]="config.maxWins"
                                                name="maxWins">
                                            <p class="card-description">
                                                Si es 0 o menor que 0 no se aplica.
                                            </p>
                                        </div>
                                        <button [disabled]="loading" class="btn btn-outline-primary"
                                            (click)="guardar()">Guardar
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                        </button>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Cuentas Bancarias">
                                    <ng-template ngbTabContent class="tab-pane fade" id="profile-1"
                                        aria-labelledby="profile-tab">
                                        <div class="col-12">
                                            <form class="form-inline">
                                                <label class="sr-only" for="account">Numero de Cuenta</label>
                                                <input type="text" class="form-control mb-2 mr-sm-2" id="account"
                                                    placeholder="Numero de Cuenta" name="account"
                                                    [(ngModel)]="tempAccount.number">

                                                <label class="sr-only" for="bank">Banco</label>
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="bank"
                                                        placeholder="Banco" name="bank" [(ngModel)]="tempAccount.bank">
                                                </div>
                                                <label class="sr-only" for="dni">Identificación</label>
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="number" class="form-control" id="dni"
                                                        placeholder="Cedula o DNI" name="dni"
                                                        [(ngModel)]="tempAccount.dni">
                                                </div>
                                                <label class="sr-only" for="bank">Moneda</label>
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <select class="form-control form-control-sm"
                                                        id="exampleFormControlSelect2" [(ngModel)]="tempAccount.pais"
                                                        name="pais" [compareWith]="compararPaises">
                                                        <option *ngFor="let pais of paises" [ngValue]="pais">{{pais}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2"
                                                    [disabled]="!isValidTempAccount()"
                                                    (click)="addAcount()">Añadir</button>
                                            </form>
                                            <div class="table-responsive">
                                                <table id="order-listing" datatable [dtOptions]="dtopt"  [dtTrigger]="dtTrigger" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Numero</th>
                                                            <th>Banco</th>
                                                            <th>Identificación</th>
                                                            <th>Moneda</th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let account of config.bankAccounts; index as i">
                                                            <td>{{account.number}}</td>
                                                            <td>{{account.bank}}</td>
                                                            <td>{{account.dni}}</td>
                                                            <td>{{account.pais}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-icon"
                                                                    (click)="delete(i)">
                                                                    <i class="fa fa-times text-danger"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>