<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="row">
        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A basic message</p>
              <button class="btn btn-outline-success" [swal]="['', ' Any fool can use a computer']">Click here!</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A title with a text under</p>
              <button class="btn btn-outline-success" [swal]="['Read the alert!', 'Click OK to close this alert']">Click here!</button>
            </div>
          </div>  
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A success message!</p>
              <button class="btn btn-outline-success" [swal]="['Congratulations!', 'You entered the correct answer' , 'success']">Click here!</button>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="row">
        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A success message!</p>
              <button class="btn btn-outline-success" [swal]="formSwal" >Click here!</button>
              <swal
              #formSwal
              input="text"
              inputPlaceholder="Enter your password">
              </swal>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A success message!</p>
              <button class="btn btn-outline-success" [swal]="warningWithCancel">Click here!</button>
              <swal
              #warningWithCancel
              type="warning"
              title="Are you sure?"
              text="You won't be able to revert this!"
              showCancelButton="true"
              cancelButtonClass="btn btn-danger">
              </swal>
            </div>
          </div>  
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
          <div class="card-body">
            <div class="wrapper text-center">
              <h4 class="card-title">Alerts Popups</h4>
              <p class="card-description">A message with auto close timer</p>
              <button class="btn btn-outline-success" [swal]="autoSwal">Click here!</button>
              <swal
              #autoSwal
              title="Auto close alert!"
              text="I will close in 2 seconds."></swal>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>