<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="border-bottom text-center pb-4">
              <img src="assets/images/faces/user.png" alt="profile" class="img-lg rounded-circle mb-3"/>
              <div class="mb-3">
                <h3 *ngIf="user.primerNombre!== null">{{user.primerNombre}} {{user.primerApellido}}</h3>
                <h3 *ngIf="user.primerNombre === null || user.primerNombre === undefined || user.primerNombre === ''">[Actualizar Datos]</h3>
                <div class="d-flex align-items-center justify-content-center">
                  <h5 class="mb-0 mr-2 text-muted">{{user.paisResidencia}}</h5>
                  <!--<bar-rating [(rate)]="profileRate" [max]="5"></bar-rating>-->
                </div>
              </div>
              <p class="w-75 mx-auto mb-3">Activo desde {{user.fechaRegistro | dateArSimple}}</p>
            </div>
            <div class="py-4">
              <p class="clearfix">
                <span class="float-left">
                  Status
                </span>
                <span class="float-right text-muted">
                  Activo
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Telefono
                </span>
                <span class="float-right text-muted">
                  {{user.telefono}}
                </span>
              </p>
              <p class="clearfix">
                <span class="float-left">
                  Mail
                </span>
                <span class="float-right text-muted">
                  {{user.correo}}
                </span>
              </p>
              <p class="clearfix" (click)="open()">
                <span class="float-left">
                  <a href="javascript:(void)" class="text-primary clearfix">Cambiar Contraseña</a>
                </span>                
              </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="mt-4 py-2 border-top border-bottom">
              <!--<ul class="nav profile-navbar">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/profile#info">
                    <i class="ti-user"></i>
                    Info
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="javascript:void(0)">
                    <i class="ti-receipt"></i>
                    Feed
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">
                    <i class="ti-calendar"></i>
                    Agenda
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">
                    <i class="ti-clip"></i>
                    Resume
                  </a>
                </li>
              </ul>-->
              <ngb-tabset [activeId]="active">
                <ngb-tab title="Identificación" id="basic">
                  <ng-template ngbTabContent class="tab-pane fade" id="home-1" aria-labelledby="home-tab">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Nombre" aria-label="Nombre"
                      [(ngModel)]="user.primerNombre" name="nombre">
                    </div>
                    <div class="form-group">
                      <label>Apellido</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Apellido" aria-label="Apellido"
                      [(ngModel)]="user.primerApellido" name="apellido">
                    </div>
                    <div class="form-group">
                      <label>Telefono</label>
                      <input type="number" class="form-control form-control-sm" placeholder="Telefono" aria-label="telefono" 
                      [(ngModel)]="user.telefono" name="telefono">
                    </div>
                    <div class="form-group">
                      <label>Pais</label>
                      <select class="form-control form-control-sm" id="exampleFormControlSelect2" [(ngModel)]="user.paisResidencia" name="pais"
                        [compareWith]="compararPaises">
                        <option *ngFor="let pais of paises" [ngValue]="pais">{{pais}}</option>
                      </select>
                    </div>
                  </ng-template>
                </ngb-tab>                
                <ngb-tab title="Bancarios" id="banc">
                  <ng-template ngbTabContent class="tab-pane fade" id="contact-1" aria-labelledby="contact-tab">
                    <p>Datos requeridos para reclamar saldo de la billetera</p>
                    <div class="form-group">
                      <label>Cuenta bancaria</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Numero Cuenta" aria-label="Numero Cuenta"
                      [(ngModel)]="user.cuenta" name="cuenta">
                    </div>
                    <div class="form-group">
                      <label>Banco</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Banco" aria-label="Banco"
                      [(ngModel)]="user.banco" name="banco">
                    </div>
                    <div class="form-group">
                      <label>Moneda</label>
                      <select class="form-control form-control-sm" id="exampleFormControlSelect2"
                        [(ngModel)]="user.moneda" name="moneda" [compareWith]="comparar">
                        <option *ngFor="let currency of currencies" [ngValue]="currency.codigo">
                          {{currency.desc}}
                        </option>
                      </select>
                      <!--<input type="text" class="form-control form-control-sm" placeholder="Moneda" aria-label="Moneda"
                      [(ngModel)]="user.moneda" name="moneda">-->
                    </div>
                    <div class="form-group">
                      <label>Nro. Documento de Identidad</label>
                      <input type="number" class="form-control form-control-sm" placeholder="Doc Identidad" aria-label="Doc Identidad"
                      [(ngModel)]="user.documento" name="documento">
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
            <button [disabled]="loading" class="btn btn-outline-primary" (click)="guardar()">Guardar
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Cambiar Contraseña</p>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="pt-3">
      <div class="form-group">
        <label>Contraseña Actual</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input type="password" class="form-control form-control-sm border-left-0" id="exampleInputPassword" placeholder="Password"
            [(ngModel)]="user.password"
            name="password">                        
        </div>
      </div>
      <p *ngIf="notPass" class="auth-link text-danger">Contraseña Requerida</p>
      <div class="form-group">
        <label>Nueva Contraseña</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input type="password" class="form-control form-control-sm border-left-0" id="confirmPassword" placeholder="Nuevo Password"
          [(ngModel)]="user.newPassword" name="confirmPassword">                                                
        </div>
      </div>
      <p *ngIf="invalidPass" class="auth-link text-danger">Su nueva contraseña debe contener al menos 6 caracteres</p>
      <div class="form-group">
        <label>Confirmar Contraseña</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input type="password" class="form-control form-control-sm border-left-0" id="confirmPassword" placeholder="Confirmar Password"
          [(ngModel)]="confirmNewPass" name="confirmPassword">                                                
        </div>
      </div>
      <p *ngIf="passNotMatch" class="auth-link text-danger">Contraseñas no coinciden</p>      
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading" class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn" (click)="updatePassword()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Aceptar
    </button>      
  </div>
</ng-template>