<ngb-accordion class="accordion-multi-colored theme-setting-wrapper" id="bets-table-left" *ngIf="parlay.odds.length > 0"
    activeIds="panel-1">
    <ngb-panel title="Ver mi Jugada" id="panel-1">
        <ng-template ngbPanelContent>
            <table class="table table-striped table-responsive table-wrapper-scroll-short my-custom-scrollbar"
                [ngClass]="{'table-wrapper-scroll-large': parlay.odds.length >2}">
                <tbody>
                    <tr *ngFor="let odd of parlay.odds; index as i">
                        <td (click)="delete(i)" style="padding-top: 2px; padding-bottom: 2px;">
                            <button type="button" class="btn btn-icon">
                                <i class="fa fa-times text-danger"></i>
                            </button>
                        </td>
                        <td style="padding-top: 2px; padding-bottom: 2px;">
                            {{odd.teamName}}
                        </td>
                        <td *ngIf="odd.handicap !== undefined && odd.handicap !== null"
                            style="padding-top: 2px; padding-bottom: 2px;">
                            {{odd.type}} ({{odd.handicap | odd}}) {{odd.letter}}{{odd.odd | odd}}
                        </td>
                        <td *ngIf="odd.handicap === undefined || odd.handicap === null"
                            style="padding-top: 2px; padding-bottom: 2px;">
                            {{odd.type}} {{odd.letter}}{{odd.odd | odd}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Monto a Jugar" aria-label="Monto"
                        style="height: 28px; font-size: 0.6rem;" [(ngModel)]="parlay.betAmount"
                        (ngModelChange)="calculate()" name="betAmount">
                    <div class="input-group-append">
                        <button (click)="save()"
                            [disabled]="parlay.betAmount === 0 || parlay.betAmount === null || parlay.betAmount === undefined"
                            class="btn btn-sm btn-primary" type="button">
                            <i *ngIf="!loading" class="mdi mdi-play-circle"></i>
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Monto a Ganar" aria-label="Monto"
                        [(ngModel)]="parlay.winAmount" name="winAmount" style="height: 28px; font-size: 0.6rem;"
                        disabled>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<ng-template #content let-modal>
    <div class="modal-header">
        <p class="modal-title" id="modal-basic-title" style="font-size: .875rem;"><i
                class="fa fa-check-circle text-success"></i>Jugada guardada!</p>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body-receipt" style="padding-left: 10px; padding-right: 10px; padding-top: 10px;">
        <div class="row">
            <div class="col-12">
                Platinium Sport
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Ticket N: 6546548
            </div>
            <div class="col-6">
                Fecha: {{parlay.date | date: 'dd/MM/yyyy H:mm:ss'}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">Monto Jugado: {{parlay.betAmount | number:'1.2-2':'es-Ar'}}</div>
        </div>
        <hr style="margin-top: 5px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-12">
                <table [ngClass]="{'table-wrapper-scroll-large': parlay.odds.length < 7 }">
                    <thead>
                        <th class="text-center">
                            Juego
                        </th>
                        <th class="text-center">
                            Logro
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let odd of parlay.odds">
                            <td style="padding-top: 2px; padding-bottom: 2px;">
                                {{odd.sport}} {{odd.teamName}}
                            </td>
                            <td *ngIf="odd.handicap !== undefined && odd.handicap !== null">
                                {{odd.type}} ({{odd.handicap | odd}}) {{odd.letter}}{{odd.odd | odd}}
                            </td>
                            <td *ngIf="odd.handicap === undefined || odd.handicap === null">
                                {{odd.type}} {{odd.letter}}{{odd.odd | odd}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="margin-top: 5px;margin-bottom: 5px;"/>
        <div class="row">
            <div class="col-12">
                Monto a Ganar: {{parlay.winAmount | number:'1.2-2':'es-Ar'}}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12 text-center">
                www.platiniumsport.com
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click')" style="
      width: 80px;
      padding-left: 1px;
      padding-right: 1px;
      padding-top: 4px;
      padding-bottom: 4px;
  ">Imprimir</button>
    </div>
</ng-template>