<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b>TERMINOS Y CONDICIONES PLATINIUM SPORT:</b><br/><br/>
                        <b>BEISBOL</b>
                        <p>
                            El equipo de casa siempre se enlistará en la parte inferior a menos que se indique otra
                            disposición.
                            Las apuestas en Béisbol se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>
                        TIPOS DE APUESTA:<br />
                        <p>
                        GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo a
                        ganar en juego completo, el resultado de este
                        es oficial después finalizadas 5 entradas o si el equipo de casa lleva ventaja después de 4½
                        entradas. Si un juego se declara suspendido después de
                        dicho lapso, el ganador es determinado por el marcador después de la última entrada completa, a
                        menos que el equipo de casa anote para
                        empatar o tome ventaja en la parte baja de la entrada; en este caso, el ganador es determinado
                        por el marcador al momento de detener el juego y
                        en caso de estar empatados la jugada queda suspendida. Si la apuesta es realizada en 5to inning
                        se deben jugar las primeras cinco entradas
                        completas, 4½ si el equipo de casa lleva la ventaja y en caso de empate el juego se declara sin
                        acción.
                        TOTAL DE CARRERAS (Alta y Baja): Esta es una apuesta que especifica si el total de carreras
                        realizadas entre los 2 equipos de un juego será mayor
                        o menor al total propuesto. En el caso de que la apuesta sea en juego completo se deberán jugar
                        las 9 entradas para tener acción (8½ entradas si
                        el equipo de casa lleva ventaja) y se incluyen los extra inning. En caso de que la jugada sea en
                        5to inning deberán jugarse las cinco entradas
                        completas para tener acción. De quedar empatada la propuesta el logro se considera suspendido.
                        RUN LINE Y SUPER RUN LINE: Consiste en agregar o quitar carreras a un equipo para obtener un
                        beneficio donde a mayor cantidad de carreras le
                        sumas al equipo seleccionado el logro aumenta en contra del jugador y mientras mayor cantidad de
                        carreras le restas el logro disminuye en favor
                        del mismo. En el caso de que la apuesta sea en juego completo se deberán jugar las 9 entradas
                        para tener acción (8½ entradas si el equipo de casa
                        lleva ventaja) y se incluyen los extra inning. En caso de que la jugada sea en 5to inning
                        deberán jugarse las cinco entradas completas para tener
                        acción.
                        SI Y NO ANOTAN EN EL PRIMER INNING: Se debe acertar si solo en el 1er inning, producen o no;
                        carreras, los dos equipos en juego. Esta apuesta
                        tiene validez después de terminado el 1er Inning (para el NO), o al anotar la primera carrera en
                        este inning para el SI. (Aunque el juego sea
                        suspendido).
                        ANOTA PRIMERO: Debe seleccionar cual de los dos equipos en juego anota la primera carrera sin
                        importar en cual inning. Tendrá resultado
                        después de la primera anotación por cualquier equipo. (Aunque el juego sea suspendido luego de
                        anotar la primera carrera).
                        GRAN TOTAL: Se juega en base la sumatoria de carreras, hits y errores (C+H+E) de los dos equipos
                        en un solo juego, las apuesta se reciben a la
                        ALTA O BAJA de este total. Se deberán jugar 9 entradas completas para acción (8½ entradas si el
                        equipo de casa lleva ventaja) y se incluyen los
                        extra inning.
                        • De existir un CAMBIO DE LANZADOR cualquier jugada realizada antes del mismo seguirá en juego.
                        • Los logros varían durante el día, usted participa con el que le indique su ticket al momento
                        de hacer la apuesta.
                        • Los juegos deberán llevarse en el lugar y fecha indicada, de lo contrario la jugada queda
                        suspendida.</p>
                        BASKETBALL
                        <p>El equipo de casa siempre se enlistará en la parte inferior a menos que se indique otra
                            disposición.
                            Las apuestas en Basketball se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>
                        TIPOS DE APUESTA:
                        <p>
                            GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo a
                            ganar, el resultado será oficial después de
                            finalizado por completo el juego incluyendo tiempos extras si es el caso. Si el mismo es
                            suspendido el logro quedará sin efecto.
                            TOTAL DE PUNTOS (Alta y Baja): Esta es una apuesta que especifica si el total de puntos
                            alcanzados entre los 2 equipos de un juego será mayor o
                            menor al total propuesto. La misma puede ser jugada en mitad de tiempo o tiempo completo, en
                            ambos casos deberán finalizar los primeros 2 o 4
                            periodos respectivamente incluyendo los tiempos extras en este último. Si el juego es
                            suspendido o de quedar empatada la propuesta el logro se
                            considera sin efecto.
                            RUN LINE: Consiste en agregar o quitar puntos a un equipo para obtener un beneficio; de
                            jugar al favorito deberá restar la cantidad de puntos al
                            marcador final obtenido por este equipo, de ser mayor al total alcanzado por el contrario
                            será ganador y obtendrá un mejor dividendo con
                            respecto al Money Line en el cálculo del premio, mientras que si se apuesta al que no es
                            favorito el beneficio estará sumando estos puntos al
                            marcador final y en caso de ser superior al del equipo contrario su selección será ganadora.
                            Puede ser jugado en mitad de tiempo o tiempo
                            completo, en ambos casos deberán finalizar los primeros 2 o 4 periodos respectivamente
                            incluyendo los tiempos extras en este último. Si el juego
                            es suspendido o de quedar empatada la propuesta el logro se considera sin efecto.
                            • Los logros varían durante el día, usted participa con el que le indique su ticket al
                            momento de hacer la apuesta.
                            • Los juegos deberán llevarse en el lugar y fecha indicada, de lo contrario la jugada queda
                            suspendida. </p>
                        FUTBOL (SOCCER)
                        <p>
                            El equipo de casa siempre se enlistará en la parte inferior a menos que se indique otra
                            disposición.
                            Las apuestas en Futbol se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>
                        TIPOS DE APUESTA:
                        <p>
                            GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo a
                            ganar, el resultado será oficial después de
                            finalizados los 90 minutos y el descuento, NO incluyendo tiempos extras ni PENALTIS en caso
                            de que existieran. Si el mismo es suspendido antes
                            de los 90 minutos reglamentarios el logro quedará sin efecto.
                            TOTAL DE PUNTOS (Alta y Baja): Esta es una apuesta que especifica si el total de goles
                            alcanzados entre los 2 equipos de un juego será mayor o
                            menor al total propuesto. Para su resultado deberán finalizar los 90 minutos y el descuento,
                            NO incluyendo tiempos extras ni PENALTIS en caso de
                            que existieran. Si el mismo es suspendido antes de los 90 minutos reglamentarios el logro
                            quedará sin efecto.
                            RUN LINE: Consiste en agregar o quitar goles a un equipo para obtener un beneficio; de jugar
                            al favorito deberá restar la cantidad de goles al
                            marcador final obtenido por este equipo, de ser mayor al total alcanzado por el contrario
                            será ganador y obtendrá un mejor dividendo con
                            respecto al Money Line en el cálculo del premio, mientras que si se apuesta al que no es
                            favorito el beneficio estará sumando estos goles al
                            marcador final y en caso de ser superior al del equipo contrario su selección será ganadora.
                            Para su resultado deberán finalizar los 90 minutos y el
                            descuento, NO incluyendo tiempos extras ni PENALTIS en caso de que existieran. Si el mismo
                            es suspendido antes de los 90 minutos
                            reglamentarios el logro quedará sin efecto.
                            • Los logros varían durante el día, usted participa con el que le indique su ticket al
                            momento de hacer la apuesta.
                            • Los juegos deberán llevarse en el lugar y fecha indicada, de lo contrario la jugada queda
                            suspendida.</p>

                        FUTBOL AMERICANO
                        <p>
                            El equipo de casa siempre se enlistará en la parte inferior a menos que se indique otra
                            disposición.
                            Las apuestas en Futbol Americano se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>
                        TIPOS DE APUESTA:
                        <p>
                            GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo a
                            ganar, el resultado será oficial después de
                            finalizado por completo el juego incluyendo tiempos extras si es el caso. Si el mismo es
                            suspendido el logro quedará sin efecto.
                            TOTAL DE PUNTOS (Alta y Baja): Esta es una apuesta que especifica si el total de puntos
                            alcanzados entre los 2 equipos de un juego será mayor o
                            menor al total propuesto. Para su resultado deberán finalizar los 4 periodos y los tiempos
                            extras en caso de que existan. Si el juego es suspendido
                            o queda empatada la propuesta el logro se considera sin efecto.
                            RUN LINE: Consiste en agregar o quitar puntos a un equipo para obtener un beneficio; de
                            jugar al favorito deberá restar la cantidad de puntos al
                            marcador final obtenido por este equipo, de ser mayor al total alcanzado por el contrario
                            será ganador y obtendrá un mejor dividendo con
                            respecto al Money Line en el cálculo del premio, mientras que si se apuesta al que no es
                            favorito el beneficio estará sumando estos puntos al
                            marcador final y en caso de ser superior al del equipo contrario su selección será ganadora.
                            Para su resultado deberán finalizar los 4 periodos y
                            los tiempos extras en caso de que existan. Si el juego es suspendido o queda empatada la
                            propuesta el logro se considera sin efecto.
                            • Los logros varían durante el día, usted participa con el que le indique su ticket al
                            momento de hacer la apuesta.
                            • Los juegos deberán llevarse en el lugar y fecha indicada, de lo contrario la jugada queda
                            suspendida.</p>
                        HOCKEY
                        <p>
                            El equipo de casa siempre se enlistará en la parte inferior a menos que se indique otra
                            disposición.
                            Las apuestas en Hockey se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>
                        TIPOS DE APUESTA:
                        <p>GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo a
                            ganar, el resultado será oficial después de
                            finalizado por completo el juego incluyendo tiempos extras y los penaltis (Shootout) si es
                            el caso. Si el mismo es suspendido el logro quedará sin
                            efecto.
                            TOTAL DE PUNTOS (Alta y Baja): Esta es una apuesta que especifica si el total de goles
                            alcanzados entre los 2 equipos de un juego será mayor o
                            menor al total propuesto. Para su resultado deberán finalizar los 3 periodos, los tiempos
                            extras y los penaltis (Shootout) en caso de que existan, en
                            este ultimo se le sumara solamente 1 gol a favor del equipo vencedor sin importar el numero
                            de goles logrados en estos penales. Si el juego es
                            suspendido o queda empatada la propuesta el logro se considera sin efecto.
                            RUN LINE: Consiste en agregar o quitar goles a un equipo para obtener un beneficio; de jugar
                            al favorito deberá restar la cantidad de goles al
                            marcador final obtenido por este equipo, de ser mayor al total alcanzado por el contrario
                            será ganador y obtendrá un mejor dividendo con
                            respecto al Money Line en el cálculo del premio, mientras que si se apuesta al que no es
                            favorito el beneficio estará sumando estos goles al
                            marcador final y en caso de ser superior al del equipo contrario su selección será ganadora.
                            Para su resultado deberán finalizar los 3 periodos, los
                            tiempos extras y los penaltis (Shootout) en caso de que existan aunque estos no afecten en
                            el resultado de la apuesta. Si el juego es suspendido el
                            logro se considera sin efecto.
                            • Los logros varían durante el día, usted participa con el que le indique su ticket al
                            momento de hacer la apuesta.
                            • Los juegos deberán llevarse en el lugar y fecha indicada, de lo contrario la jugada queda
                            suspendida.</p>
                        BOXEO
                        <p>
                            Las apuestas en Boxeo se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en una sola pelea.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en una o varias peleas y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            selecciones se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos selecciones se convertiría en
                            una apuesta por derecho.</p>
                            TIPOS DE APUESTA:
                            <p>
                            GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo o
                            boxeador a ganar en pelea completa, el
                            resultado de este es oficial después de finalizado el combate.
                            TOTAL DE ROUNDS (Alta y Baja): Esta es una apuesta que especifica si el total de Rounds
                            alcanzados en la pelea será mayor o menor al total
                            propuesto. De quedar empatada la propuesta el logro se considera suspendido.
                            NOCAUT O DECISION (Money Line): Esta es una apuesta que especifica si determinado boxeador
                            gana por nocaut o decisión al final de concluidos
                            los Rounds estipulados para la pelea.
                            DESIGNAR EL ROUND (Money Line): Esta es una apuesta que especifica en qué round el boxeador
                            ganará la pelea.
                            • Si una pelea se declara suspendida la apuesta no tendrá validez.
                            • En caso de que uno de los boxeadores se retire, se incapacite o sea descalificado, la
                            pelea tendrá validez para los efectos de apuestas.
                            • Si una pelea es adelantada de horario la apuesta queda suspendida.
                            • Si una pelea es pospuesta o cambiada a una fecha posterior a la anunciada debido a
                            problemas de clima, iluminación, o causa de fuerza
                            mayor, TODAS LAS APUESTAS SON VALIDAS A MENOS QUE SE INDIQUE LO CONTRARIO.</p>
                        TENIS
                        <p>
                            Las apuestas en Tenis se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en varios juegos y donde todas deben
                            ganar. Se paga de acuerdo a la siguiente regla: La
                            cantidad apostada y ganada en la primera selección será apostada a la siguiente y así
                            sucesivamente de acuerdo al número de selecciones
                            combinadas. En caso de que una de ellas se suspenda o se empate un parlay de tres o más
                            equipos se reduce al siguiente número inferior de
                            combinaciones y si esto llegara a suceder en un parlay de dos equipos se convertiría en una
                            apuesta por derecho.</p>

                            TIPOS DE APUESTA:
                            <p>
                            GANADOR DE JUEGO (Money Line): Se debe acertar cual será el vencedor. Al apostar un equipo o
                            jugador a ganar en juego completo, el resultado
                            de este es oficial después de finalizado el juego completo.
                            • Si un juego se declara suspendido la apuesta no tendrá validez.
                            • En caso de que uno de los jugadores se retire, se incapacite o sea descalificado, el juego
                            será suspendido en su totalidad para los efectos
                            de apuestas.
                            • El caso anterior no tendrá efecto en una Final de Torneo o Campeonato donde es
                            completamente al contrario, en caso de que un jugador
                            abandone el juego o la competición, este será declarado perdedor.
                            • Si un juego es adelantado de horario la apuesta queda suspendida.
                            • Si un juego es pospuesto o cambiado a una fecha posterior a la anunciada debido a
                            problemas de clima, iluminación, o causa de fuerza
                            mayor, TODAS LAS APUESTAS SON VALIDAS.</p>
                        APUESTAS FUTURAS
                        <p>
                            Las apuestas Futuras se realizan de la siguiente manera:
                            POR DERECHO: Es cuando se apuesta una sola selección y en un solo juego, temporada o
                            campeonato.
                            PARLAY: Esta apuesta agrupa dos o más selecciones en uno o varios juegos, temporadas o
                            campeonatos y donde todas deben ganar. Se paga de
                            acuerdo a la siguiente regla: La cantidad apostada y ganada en la primera selección será
                            apostada a la siguiente y así sucesivamente de acuerdo al
                            número de selecciones combinadas. En caso de que una de ellas se suspenda o se empate un
                            parlay de tres o más selecciones se reduce al
                            siguiente número inferior de combinaciones y si esto llegara a suceder en un parlay de dos
                            selecciones se convertiría en una apuesta por derecho.
                            TIPOS DE APUESTA:
                            GANADOR DE JUEGO, TORNEO, CAMPEONATO, CARRERA O ALGUNA OTRA PROPOSICION (Money Line): Se
                            debe acertar cual será el vencedor. El
                            resultado de este es oficial después de finalizado el evento.
                            • LA CASA se reserva el derecho de rechazar y eliminar apuestas en cualquier momento y de
                            cualquier cliente sin previo aviso y sin ninguna
                            causa. En caso de un error ya sea en: Referencia, LOGRO, Nombres, Horarios entre otros, la
                            misma se considerará “Suspendida” y el
                            dinero será reembolsado.
                            • Solo podrán realizar jugadas personas mayores a 18 años y sin uniforme escolar.
                            • Los logros varían, usted participa con el que le indique su ticket al momento de hacer la
                            apuesta.
                            • Cualquier jugada realizada después del inicio del juego quedara anulada.
                            • LOS JUGADORES DE ESTA CASA REALIZAN SUS JUGADAS ACEPTANDO TODAS ESTAS REGLAS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>