<div class="d-flex align-items-stretch auth auth-img-bg h-100">
  <div class="row flex-grow">
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="auth-form-transparent text-left p-3">
        <div class="center">
          <img src="assets/images/feed_orig.png" width="300">
        </div>
        <h4>Bienvenido nuevamente!</h4>
        <h6 class="font-weight-light"></h6>
        <form class="pt-3">
          <div class="form-group">
            <label for="exampleInputEmail">Usuario o Email</label>
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="ti-user text-primary"></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Email" [(ngModel)]="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="ti-lock text-primary"></i>
                </span>
              </div>
              <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password" [(ngModel)]="password" name="password">                        
            </div>
          </div>
          <div *ngIf="invalidLogin" class="my-2 d-flex justify-content-between align-items-center">
            <p class="auth-link text-danger">Credenciales inválidas</p>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Recordarme
              </label>
            </div>
            <a href="javascript:(void)" class="auth-link text-primary">Olvidé password?</a>
          </div>
          <div class="my-3" (click)="doLogin()">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Jugar!</a>
          </div>
          
          <div class="text-center mt-4 font-weight-light">
            No posees una cuenta? <a routerLink="#" class="text-primary">Registrarme</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 login-half-bg d-flex flex-row">
    </div>
  </div>
</div>