<div class="d-flex align-items-stretch auth auth-img-bg h-100">
  <div class="row flex-grow">
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="auth-form-transparent text-left p-3">
        <div class="center">
          <img src="assets/images/feed_orig.png" width="300">
        </div>
        <h4>Bienvenido nuevamente!</h4>
        <h6 class="font-weight-light"></h6>
        <form class="pt-3">
          <div class="form-group">
            <label for="exampleInputEmail">Usuario o Email</label>
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="ti-user text-primary"></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Email" [(ngModel)]="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Contraseña</label>
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="ti-lock text-primary"></i>
                </span>
              </div>
              <input [type]="!watchPass ? 'password' : 'text'" name="passowrd" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password" [(ngModel)]="password" name="password">                        
              <div class="input-group-append" (click)="verPass()"><span class="input-group-text">
                <i *ngIf="!watchPass" class="fa fa-eye"></i>
                <i *ngIf="watchPass" class="fa fa-eye-slash"></i></span>
              </div>
            </div>
          </div>
          <div *ngIf="invalidLogin" class="my-2 d-flex justify-content-between align-items-center">
            <p class="auth-link text-danger">Credenciales inválidas</p>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <!--
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Recordarme
              </label>
            </div>
            -->
            <a class="auth-link text-primary" (click)="openForgot()">Olvidé password?</a>
          </div>
          <div class="my-3" (click)="doLogin()">
            <button [disabled]="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Jugar!
            </button>
          </div>
          
          <div class="text-center mt-4 font-weight-light">
            No poseo una cuenta? <a class="auth-link text-primary" (click)="open()">Registrarme</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 login-half-bg flex-row d-none d-xl-block">
      <img style="width:95%;" src="assets/images/ps_origin.png"/>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Registro</p>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="pt-3">
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-email text-primary"></i>
            </span>
          </div>
          <input type="email" class="form-control form-control-lg border-left-0" placeholder="Email"
            [(ngModel)]="usuarioRegistro.correo"
            name="email">                        
        </div>
      </div>
      <p *ngIf="notEmail" class="auth-link text-danger">Email Requerido</p>
      <p *ngIf="invalidMail" class="auth-link text-danger">Email Inválido</p>
      <div class="form-group">
        <label>Password</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input [type]="!watchPass ? 'password' : 'text'" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password"
            [(ngModel)]="usuarioRegistro.password"
            name="password">
            <div class="input-group-append" (click)="verPass()"><span class="input-group-text">
              <i *ngIf="!watchPass" class="fa fa-eye"></i>
              <i *ngIf="watchPass" class="fa fa-eye-slash"></i></span>
            </div>                        
        </div>
      </div>
      <p *ngIf="notPass" class="auth-link text-danger">Password Requerido</p>
      <p *ngIf="invalidPass" class="auth-link text-danger">Su password debe contener al menos 6 caracteres</p>
      <div class="form-group">
        <label>Confirmar Password</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input [type]="!watchPass ? 'password' : 'text'" class="form-control form-control-lg border-left-0" id="confirmPassword" placeholder="Confirmar Password" [(ngModel)]="confirmPass"
            name="confirmPassword">  
            <div class="input-group-append" (click)="verPass()"><span class="input-group-text">
              <i *ngIf="!watchPass" class="fa fa-eye"></i>
              <i *ngIf="watchPass" class="fa fa-eye-slash"></i></span>
            </div>                                              
        </div>
      </div>
      <p *ngIf="passNotMatch" class="auth-link text-danger">Passwords no coinciden</p>
      <div class="form-group">
        <label>País</label>
        <select class="form-control form-control-lg" id="exampleFormControlSelect2" [(ngModel)]="usuarioRegistro.paisResidencia" name="pais">
          <option *ngFor="let pais of paises" [ngValue]="pais">{{pais}}</option>
        </select>
      </div> 
      <p *ngIf="notCountry" class="auth-link text-danger">País Requerido</p>     
      <div class="mb-4">
        <div class="form-check">
          <label class="form-check-label text-muted">
            <input type="checkbox" class="form-check-input" [checked]="agree"
            (change)="agree = !agree">
            <i class="input-helper"></i>
            Estoy de acuerdo con los <a href="https://platiniumsport.com/#/terms" target="_blank">términos, reglas y condiciones</a> y declaro además ser mayor de edad.
          </label>
        </div>
        <p *ngIf="disAgree" class="auth-link text-danger">Requerido</p>
      </div>
      <p *ngIf="invalidRegistration" class="auth-link text-danger">Correo ya se encuentra en uso</p>            
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="register()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Aceptar
    </button>      
  </div>
</ng-template>
<ng-template #forgot let-modal>
  
  <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-2">Restablecer Contraseña</p>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="pt-3">
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-email text-primary"></i>
            </span>
          </div>
          <input type="text" class="form-control form-control-lg border-left-0" placeholder="Email"
            [(ngModel)]="emailReset"
            name="email"
            [readonly]="codeSent"
            style="background-color: #2b2e4c !important;">                        
        </div>
      </div>
      <p *ngIf="emailResetInvalid" class="auth-link text-danger">Usuario no existente</p>            
      <div class="form-group" *ngIf="codeSent">
        <label>Ingrese el Código enviado a su dirección de correo</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-angle-double-right text-primary"></i>
            </span>
          </div>
          <input type="text" class="form-control form-control-lg border-left-0" placeholder="Código"
            [(ngModel)]="tokenReset"
            name="token">                        
        </div>
      </div>
      <p *ngIf="invalidResetToken" class="auth-link text-danger">Token Inválido</p>
      <div class="form-group" *ngIf="codeSent">
        <label>Password</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Nueva Contraseña"
            [(ngModel)]="passReset"
            name="password">                        
        </div>
      </div>
      <p *ngIf="invalidNewPass" class="auth-link text-danger">Su password debe contener al menos 6 caracteres</p>
      <div class="form-group" *ngIf="codeSent">
        <label>Confirmar Password</label>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0">
              <i class="ti-lock text-primary"></i>
            </span>
          </div>
          <input type="password" class="form-control form-control-lg border-left-0" id="confirmPassword" placeholder="Confirmar Password"
            [(ngModel)]="confirmPassReset"
            name="confirmPassword">                                                
        </div>
      </div>
      <p *ngIf="passNotMatchReset" class="auth-link text-danger">Passwords no coinciden</p>      
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="resetPass()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Aceptar
    </button>      
  </div>
</ng-template>