<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <ngb-tabset [activeId]="active" *ngIf="user.type=='Jugador'">
              <ngb-tab title="Cargar Fondos" id="carga">
                <ng-template ngbTabContent class="tab-pane fade" id="carga" aria-labelledby="home-tab">
                  <section class="mx-auto" *ngIf="pending.length > 0">
                    <hr style="background-color: white !important;" />
                    <p>Pagos Pendientes</p>
                    <table class="table table-striped table-responsive table-sm">
                      <thead>
                        <tr>
                          <th>
                            Cuenta
                          </th>
                          <th>
                            Monto
                          </th>
                          <th>
                            Fecha
                          </th>
                          <th>
                            Status
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pago of pending">
                          <td>
                            {{pago.cta_destino}}
                          </td>
                          <td>
                            {{pago.amount | number:'1.2-2':'es-Ar'}}
                          </td>
                          <td>
                            {{pago.fecha_solicitud | dateFull}}
                          </td>
                          <td>
                            <label class="badge badge-info">Por Verificar</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <hr style="background-color: white !important;" />
                  </section>
                  <p>
                    Pasos para cargar saldo:<br>
                    1. Transferir a alguna de las cuentas dispuestas. <a class="auth-link text-primary font-weight-bold"
                      style="cursor: pointer;" (click)="open()">Click para ver las cuentas
                      disponibles</a><br>
                    2. Completar este formulario y adjuntar el comprobante.<br>
                    3. Al ser verificado el pago, se acreditará el saldo a su billetera.<br><br/>
                    Notas:                     
                  </p>
                  <ul>
                    <li>Las <b>cargas</b> serán procesados todos los dias de 10:00 am a 8:00 pm.</li>
                    <li>Los <b>retiros</b> serán procesados de Lunes a Sábado de 10:00 am a 8:00 pm.</li>
                  </ul>
                  <hr style="background-color: white !important;" />
                  <div class="form-group">
                    <label>Cuenta Destino:</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect2"
                      [(ngModel)]="pago.cta_destino" name="account" [compareWith]="comparar">
                      <option *ngFor="let cta of ctas" [ngValue]="cta.number">
                        {{cta.bank}}({{cta.number}})
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Monto</label>
                    <input type="number" class="form-control" id="exampleInputUsername1" placeholder="Monto"
                      name="monto" [(ngModel)]="pago.amount">
                  </div>
                  <div class="form-group">
                    <ngx-dropzone (change)="onSelect($event)" [multiple]="false" style="width: 204px;"
                      accept="image/jpeg,image/jpg,image/png,image/gif">
                      <ngx-dropzone-label>Click para subir comprobante (jpeg, jpg, png)</ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                  <button [disabled]="loading || !paymentValid()" class="btn btn-outline-primary text-center"
                    (click)="guardar()">Guardar
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                  </button>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Retirar Fondos" id="retiro">
                <ng-template ngbTabContent class="tab-pane fade" id="retiro" aria-labelledby="profile-tab">
                  <p>
                    Pasos para retirar saldo:<br>
                    1. Debe tener asociada una cuenta bancaria a su billetera. <a class="auth-link text-primary"
                      style="cursor: pointer;" routerLink="/profile">Si aún no lo ha hecho puede hacer click
                      aqui</a><br>
                    2. Ingresar a continuación el saldo que desea retirar.<br>
                    3. Al procesar su solicitud, se debitará automaticamente el saldo de la billetera.<br><br>
                    Notas:                     
                  </p>
                  <ul>
                    <li>Las <b>cargas</b> serán procesados todos los dias de 10:00 am a 8:00 pm.</li>
                    <li>Los <b>retiros</b> serán procesados de Lunes a Sábado de 10:00 am a 8:00 pm.</li>
                  </ul>
                  <hr style="background-color: white !important;" />
                  <div class="form-group">
                    <label for="exampleInputUsername1">Monto</label>
                    <input type="number" class="form-control" id="exampleInputUsername1" placeholder="Monto"
                      name="monto" [(ngModel)]="withdrawal.amount">
                  </div>
                  <div class="form-group">
                    <label>Cuenta Destino:</label>
                    <select class="form-control form-control-sm" id="ctaDest">
                      <option *ngIf="user.cuenta !== undefined && user.cuenta != null && user.cuenta.length > 0"> {{user.cuenta}}
                        [{{user.moneda}}]
                      </option>
                    </select>
                  </div>
                  <button [disabled]="loading || !withdrawalValid()" class="btn btn-outline-primary text-center"
                    (click)="withdraw()">Solicitar
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                  </button>
                  <hr style="background-color: white !important;" />
                  <p>Histórico de Retiros</p>
                  <table class="table table-striped table-sm table-responsive w-100 d-block d-md-table">
                    <thead>
                      <tr>
                        <th>
                          Cuenta
                        </th>
                        <th>
                          Monto
                        </th>
                        <th>
                          Fecha
                        </th>
                        <th>
                          Status
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pago of withdrawals; index as i;">
                        <td>
                          {{pago.cta_destino}}
                        </td>
                        <td>
                          {{pago.amount | number:'1.2-2':'es-Ar'}}
                        </td>
                        <td>
                          {{pago.fecha_solicitud | dateFull}}
                        </td>
                        <td>
                          <label class="badge badge-info" *ngIf="pago.status === 'S'">En Proceso</label>
                          <label class="badge badge-success" *ngIf="pago.status === 'A'">Procesado</label>
                          <i class="fa fa-eye text-primary" *ngIf="pago.status === 'A'" style="cursor: pointer;" (click)="openWdModal(i)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
            <ngb-tabset [activeId]="active" *ngIf="user.type=='Admin'">
              <ngb-tab title="Cargas" id="carga">
                <ng-template ngbTabContent class="tab-pane fade" id="carga" aria-labelledby="home-tab">
                  <section class="mx-auto" *ngIf="pending.length === 0">
                    <div class="card">
                      <div class="row" style="margin-left: 5px !important;">
                        <div class="col-12">
                          <div class="card-body">
                            <p class="mb-12">
                              No hay cargas por verificar.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="mx-auto" *ngIf="pending.length > 0">
                    <hr style="background-color: white !important;" />
                    <p>Cargas por verificar</p>
                    <table class="table table-striped table-responsive table-sm">
                      <thead>
                        <tr>
                          <th>
                            Usuario
                          </th>
                          <th>
                            Cuenta
                          </th>
                          <th>
                            Monto
                          </th>
                          <th>
                            Fecha
                          </th>
                          <th>
                            Comprobante<i class="fa fa-eye"></i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pago of pending; index as i;">
                          <td>
                            {{pago.user.primerNombre}} {{pago.user.primerApellido}} ({{pago.user.correo}})
                          </td>
                          <td>
                            {{pago.cta_destino}}
                          </td>
                          <td>
                            {{pago.amount | number:'1.2-2':'es-Ar'}}
                          </td>
                          <td>
                            {{pago.fecha_solicitud | dateFull}}
                          </td>
                          <td (click)="open(i, pago)">
                            <label class="badge badge-info">Pendiente</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <hr style="background-color: white !important;" />
                  </section>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Retiros" id="retiro">
                <ng-template ngbTabContent class="tab-pane fade" id="retiro" aria-labelledby="profile-tab">
                  <table class="table table-striped table-sm table-responsive w-100 d-block d-md-table">
                    <thead>
                      <tr>
                        <th>
                          Cuenta
                        </th>
                        <th>
                          Banco
                        </th>
                        <th>
                          Monto
                        </th>
                        <th>
                          Usuario
                        </th>
                        <th>
                          Documento
                        </th>
                        <th>
                          Fecha
                        </th>
                        <th>
                          Status
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pago of withdrawals; index as i;">
                        <td>
                          {{pago.cta_destino}}[{{pago.moneda}}] <i (click)="copy(pago.cta_destino)"
                            class="fa fa-copy text-primary" style="float: right; cursor: pointer;"></i>
                        </td>
                        <td>
                          {{pago.user.banco}}
                        </td>
                        <td>
                          {{pago.amount | number:'1.2-2':'es-Ar'}}
                        </td>
                        <td>
                          {{pago.user.primerNombre}} {{pago.user.primerapellido}} {{pago.user.correo}}
                        </td>
                        <td>
                          {{pago.user.documento}} <i (click)="copy(pago.user.documento)" class="fa fa-copy text-primary"
                            style="float: right; cursor: pointer;"></i>
                        </td>
                        <td>
                          {{pago.fecha_solicitud | dateFull}}
                        </td>
                        <td>
                          <table>
                            <tr>
                              <td>
                                <label class="badge badge-info" *ngIf="pago.status === 'S'">En Proceso</label>
                                <i class="fa fa-upload text-primary" (click)="openWdModal(i)" *ngIf="pago.status === 'S'" style="cursor: pointer;"></i>
                              </td>
                              <td>
                                <label class="badge badge-success" *ngIf="pago.status === 'A'">Procesado</label>
                                <i class="fa fa-eye text-primary" *ngIf="pago.status === 'A'" style="cursor: pointer;" (click)="openWdModal(i)">Ver</i>
                              </td>
                              <td>
                                <i class="fa fa-ban text-danger" *ngIf="pago.status === 'S'" style="cursor: pointer;" (click)="deletePayment(i)"></i>                                
                              </td>
                              <td>
                                <i class="fa fa-undo" aria-hidden="true" *ngIf="pago.status === 'S'" style="cursor: pointer;" (click)="reversePayment(i)"></i>
                              </td>
                            </tr>
                          </table>                                                                              
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="withdrawals.length === 0" class="mb-12">
                    No hay retiros por procesar.
                  </p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <p class="modal-title" id="modal-basic-title" *ngIf="user.type=='Jugador'">Medios de Pago disponibles</p>
    <p class="modal-title" id="modal-basic-title" *ngIf="user.type=='Admin'">{{pagoShowed.user.correo}} ->
      {{pagoShowed.amount | number:'1.2-2':'es-Ar'}} </p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <section *ngIf="user.type == 'Admin'" style="display: flex; justify-content: center;">
          <img [src]='thumbnail' style="max-width: 300px;" />
        </section>
        <table class="table table-striped table-responsive" *ngIf="user.type=='Jugador'">
          <thead>
            <tr>
              <th>
                Banco
              </th>
              <th>
                Numero
              </th>
              <th>
                Doc. Identidad
              </th>
              <th>
                Moneda
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cuenta of ctas">
              <td>
                {{cuenta.bank}}
              </td>
              <td>
                {{cuenta.number}}<i (click)="copy(cuenta.number)" class="fa fa-copy text-primary"
                  style="float: right; cursor: pointer;"></i>
              </td>
              <td>
                {{cuenta.dni}}<i (click)="copy(cuenta.dni)" class="fa fa-copy text-primary"
                  style="float: right; cursor: pointer;"></i>
              </td>
              <td>
                {{cuenta.pais}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="user.type == 'Admin'">
    <div class="row">
      <div class="col-12">
        <button type="button" (click)="confirm()" class="btn btn-success btn-sm">Confirmar</button>
        <button type="button" (click)="reject()" class="btn btn-danger btn-sm">Rechazar</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #wdContent let-modal>
  <div class="modal-header">
    <p class="modal-title" id="modal-basic-title" *ngIf="user.type=='Jugador'">Comprobante</p>
    <p class="modal-title" id="modal-basic-title" *ngIf="user.type=='Admin'">{{wdShowed.user.correo}} ->
      {{wdShowed.amount | number:'1.2-2':'es-Ar'}} </p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <section *ngIf="user.type == 'Jugador'" style="display: flex; justify-content: center;">
          <img [src]='thumbnail' style="max-width: 300px;" />
        </section>
        <ngx-dropzone (change)="onSelect($event)" [multiple]="false" style="width: 204px;"
          accept="image/jpeg,image/jpg,image/png,image/gif"
          *ngIf="user.type == 'Admin'">
          <ngx-dropzone-label>Click, para subir comprobnte</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="user.type == 'Admin'">
    <div class="row">
      <div class="col-12">
        <button type="button" (click)="uploadWd()" class="btn btn-success btn-sm">Confirmar</button>        
      </div>
    </div>
  </div>
</ng-template>