<section *ngIf="isAdmin || isTaquilla">
  <div class="col-12">
    <div class="card">
      <div class="row" style="margin-left: 5px !important;">
        <div class="col-md-12">
          <div class="card-body">
            <div class="template-demo">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary" (click)="editionMode=!editionMode" *ngIf="isAdmin">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="saveOdds()" *ngIf="isAdmin">
                  <i class="fa fa-save"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="getPdf()" *ngIf="isTaquilla || isAdmin">
                  <span *ngIf="loadingPdf" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i class="fa fa-print" aria-hidden="true"></i>
                </button>
              </div>
              <p class="text-center" *ngIf="editionMode">Modo Edición Activo</p>
            </div>                 
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</section>
<div class="card" *ngIf="emptyResults">
  <div class="row" style="margin-left: 5px !important;" >
    <div class="col-12">
      <div class="card-body">
        <div class="template-demo">
          <p class="mb-12">
            No hay Juegos programados.
          </p>          
        </div>                 
      </div>
    </div>
  </div>
</div>
<ngb-accordion class="accordion" [closeOthers]="false" [activeIds]="activeIds">
  <ngb-panel id="panel-{{i}}" *ngFor="let league of sport.leagues; index as i">
    <ng-template ngbPanelTitle>
      <i *ngIf="league.country=== 'world'"  class="ti-world"></i>
      <i *ngIf="league.country!== 'world'" class="flag-icon flag-icon-{{league.country}}" title="ad" id="ad"></i>
      {{league.name}} 
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card" *ngIf="league.matches.length > 0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr *ngFor="let match of league.matches">
                  <ng-container *ngIf="match.enabled || editionMode">
                    <td style="padding-left: 0px;">
                      <table class="table">
                          <thead>
                            <tr style="color: #ffcb63;">
                              <td *ngIf="editionMode">Opciones</td>  
                              <td>
                                {{match.date | dateAr }}
                              </td>
                              <td>Ganar</td>
                              <td>R. Line</td>
                              <td>Alta/Baja</td>
                              <td>Ganar<br/>1er Mitad</td>
                              <td>R. Line<br/>1er Mitad</td>
                              <td>Alta/Baja<br/>1er Mitad</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="background-color: black" [ngClass]="{'disabled': !match.enabled}">
                              <td *ngIf="editionMode">
                                <input
                                type="checkbox"
                                [checked]="match.enabled"
                                (change)="match.enabled = !match.enabled"/>
                                Habilitado 
                              </td>
                              <td>{{match.teamA.team.name}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'win', match)}" (click)="select(match.teamA, 'win', match)">{{match.teamA.win | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'rl', match)}" (click)="select(match.teamA, 'rl', match)">{{match.teamA.rlHandicap | odd}} {{match.teamA.runLine | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'ou', match)}" (click)="select(match.teamA, 'ou', match)">{{match.teamA.ouHandicap}} <strong class="text-primary">{{match.teamA.ouLetter}}</strong>{{match.teamA.overUnder | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'win5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'win5', match)">{{match.teamA.win5 | odd}}</section>
                              </td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'rl5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'rl5', match)">{{match.teamA.rlHandicap5 | odd}} {{match.teamA.runLine5 | odd}}</section>
                              </td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamA, 'ou5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'ou5', match)">{{match.teamA.ouHandicap5}} <strong class="text-primary">{{match.teamA.ouLetter5}}</strong>{{match.teamA.overUnder5 | odd}}</section>
                              </td>
                            </tr>
                            <tr style="background-color: black" [ngClass]="{'disabled': !match.enabled}">
                              <td *ngIf="editionMode">
                                <input
                                type="checkbox"
                                [checked]="match.halfEnabled"
                                (change)="match.halfEnabled = !match.halfEnabled"/>
                                Mitad Habilitada</td>
                              <td>{{match.teamB.team.name}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'win', match)}" (click)="select(match.teamB, 'win', match)">{{match.teamB.win | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'rl', match)}" (click)="select(match.teamB, 'rl', match)">{{match.teamB.rlHandicap | odd}} {{match.teamB.runLine | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'ou', match)}" (click)="select(match.teamB, 'ou', match)">{{match.teamB.ouHandicap}} <strong class="text-primary">{{match.teamB.ouLetter}}</strong>{{match.teamB.overUnder | odd}}</td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'win5', match)}" (click)="select(match.teamB, 'win5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled">{{match.teamB.win5 | odd}}</section>
                              </td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'rl5', match)}" (click)="select(match.teamB, 'rl5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled">{{match.teamB.rlHandicap5 | odd}} {{match.teamB.runLine5 | odd}}</section>
                              </td>
                              <td style="cursor: pointer;" [ngClass]="{'selected':this.isSelected(match.teamB, 'ou5', match)}" (click)="select(match.teamB, 'ou5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                                <section *ngIf="match.halfEnabled">{{match.teamB.ouHandicap5}} <strong class="text-primary">{{match.teamB.ouLetter5}}</strong>{{match.teamB.overUnder5 | odd}}</section>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>  
</ngb-accordion>
<app-bets></app-bets>
<section hidden>
  <section id ="pdf">
    <section *ngFor="let league of sport.leagues; index as i">
      <table>
        <tbody>
          <tr *ngFor="let match of league.matches">
            <ng-container *ngIf="match.enabled || editionMode">
              <td style="padding-left: 0px;">
                <table class="table">
                    <thead>
                      <tr style="color: black; background-color: rgb(161, 161, 161);">
                        <td colspan="9" style="padding-top: 2px; padding-bottom: 2px; text-align: center;">
                          {{league.name}}
                        </td>
                      </tr>
                      <tr style="color:black; background-color: rgb(216, 216, 216);">
                        <td *ngIf="editionMode" style="padding-top: 2px;
                        padding-bottom: 2px;">Opciones</td>  
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">
                          {{match.date | dateAr }}
                        </td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">Ganar</td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">R. Line</td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">Alta/Baja</td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">Ganar<br/>1er Mitad</td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">R. Line<br/>1er Mitad</td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">Alta/Baja<br/>1er Mitad</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="color: black" [ngClass]="{'disabled': !match.enabled}">
                        <td *ngIf="editionMode">
                          <input
                          type="checkbox"
                          [checked]="match.enabled"
                          (change)="match.enabled = !match.enabled"/>
                          Habilitado 
                        </td>
                        <td style="padding-top: 2px;
                        padding-bottom: 2px;">{{match.teamA.team.name}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'win', match)}" (click)="select(match.teamA, 'win', match)">{{match.teamA.win | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'rl', match)}" (click)="select(match.teamA, 'rl', match)">{{match.teamA.rlHandicap | odd}} {{match.teamA.runLine | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'ou', match)}" (click)="select(match.teamA, 'ou', match)">{{match.teamA.ouHandicap}} <strong>{{match.teamA.ouLetter}}</strong>{{match.teamA.overUnder | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'win5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'win5', match)">{{match.teamA.win5 | odd}}</section>
                        </td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'rl5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'rl5', match)">{{match.teamA.rlHandicap5 | odd}} {{match.teamA.runLine5 | odd}}</section>
                        </td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamA, 'ou5', match)}" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled" (click)="select(match.teamA, 'ou5', match)">{{match.teamA.ouHandicap5}} <strong>{{match.teamA.ouLetter5}}</strong>{{match.teamA.overUnder5 | odd}}</section>
                        </td>
                      </tr>
                      <tr style="color: black" [ngClass]="{'disabled': !match.enabled}">
                        <td *ngIf="editionMode">
                          <input
                          type="checkbox"
                          [checked]="match.halfEnabled"
                          (change)="match.halfEnabled = !match.halfEnabled"/>
                          Mitad Habilitada</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;">{{match.teamB.team.name}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'win', match)}" (click)="select(match.teamB, 'win', match)">{{match.teamB.win | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'rl', match)}" (click)="select(match.teamB, 'rl', match)">{{match.teamB.rlHandicap | odd}} {{match.teamB.runLine | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'ou', match)}" (click)="select(match.teamB, 'ou', match)">{{match.teamB.ouHandicap}} <strong>{{match.teamB.ouLetter}}</strong>{{match.teamB.overUnder | odd}}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'win5', match)}" (click)="select(match.teamB, 'win5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled">{{match.teamB.win5 | odd}}</section>
                        </td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'rl5', match)}" (click)="select(match.teamB, 'rl5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled">{{match.teamB.rlHandicap5 | odd}} {{match.teamB.runLine5 | odd}}</section>
                        </td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" [ngClass]="{'selected':this.isSelected(match.teamB, 'ou5', match)}" (click)="select(match.teamB, 'ou5', match)" [ngClass]="{'disabled': !match.halfEnabled && editionMode}">
                          <section *ngIf="match.halfEnabled">{{match.teamB.ouHandicap5}} <strong>{{match.teamB.ouLetter5}}</strong>{{match.teamB.overUnder5 | odd}}</section>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </td>
          </ng-container>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</section>