<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" *ngIf="(isLoggedIn$ | async)">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo mr-5" routerLink=""><img src="assets/images/logo_web.png" class="mr-2" alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" routerLink=""><img src="assets/images/ps.png" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="ti-layout-grid2"></span>
    </button>
    <ul class="navbar-nav mr-lg-2">
      <li class="nav-item nav-search d-none d-lg-block">
        <div class="input-group">
          <!--
          <div class="input-group-prepend hover-cursor" id="navbar-search-icon" (click)="focusInput()">
            <span class="input-group-text" id="search">
              <i class="ti-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
          -->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <!--
      <li class="nav-item dropdown mr-1" ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" href="javascript:;" ngbDropdownToggle>
          <i class="ti-email mx-0"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown" ngbDropdownMenu>
          <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-normal">David Grey
              </h6>
              <p class="font-weight-light small-text text-muted mb-0">
                The meeting is cancelled
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
              </h6>
              <p class="font-weight-light small-text text-muted mb-0">
                New product launch
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
              </h6>
              <p class="font-weight-light small-text text-muted mb-0">
                Upcoming board meeting
              </p>
            </div>
          </a>
        </div>
      </li>
      -->
      <li class="nav-item" *ngIf="saldo > 0 && user.type === 'Jugador'">
        <section class="nav-settings d-none d-lg-flex">Billetera: &nbsp;</section> {{ saldo | number:'1.2-2':'es-Ar'}}
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle" href="javascript:;" ngbDropdownToggle>
          <i class="ti-bell mx-0"></i>
          <!--<span class="count"></span>-->
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" ngbDropdownMenu>
          <p class="mb-0 font-weight-normal float-left dropdown-header">Notificaciones</p>
          <a class="dropdown-item preview-item">
            <div class="preview-item-content">
              <p class="font-weight-light small-text mb-0 text-muted">
                No posee nuevas notificaciones
              </p>
            </div>
          </a>
          <!--
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Saldo Cargado</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Justo ahora
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Apuesta Registrada</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Ir a Reportes
              </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Datos Modificados</h6>
              <p class="font-weight-light small-text mb-0 text-muted">
                Hace dos días
              </p>
            </div>
          </a>
          -->
        </div>
      </li>
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link" href="javascript:;" ngbDropdownToggle>
          <img src="assets/images/faces/user.png" alt="profile"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown" ngbDropdownMenu>
          <a class="dropdown-item">
            {{user.correo}}
          </a>
          <hr style="border-top: 1px solid blanchedalmond;margin-top: 0px;margin-bottom: 0px;">
          <a class="dropdown-item" routerLink="/profile">
            <i class="ti-settings text-primary"></i>
            Perfil
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="ti-power-off text-primary"></i>
            Salir
          </a>
        </div>
      </li>      
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleRightSidebar()">
      <span class="ti-layout-grid2"></span>
    </button>
  </div>
</nav>